<div class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" style="position:fixed; top:0%; width:100%;">
    <nav class="uk-navbar uk-navbar-expand-md navbar-dark" uk-navbar="align: center" style="background-color:brown;">
        <div class="container-fluid">
            <ul class="uk-navbar-nav">
                
                <li><a aria-current="page" routerLink="/home"><img id="logo" src="../../assets/logo.png" alt=""></a></li>
                <li>
                    <a aria-current="page" routerLink="/home">
                        <div id="titulo">
                            ¡Encuentra aqui tus Zapatillas <br>
                            Deportivas preferidas¡
                        </div>
                    </a>
                </li>
                
                <div class="nav-overlay uk-navbar-center">
                    <ul class="uk-navbar-nav">

                        <li>
                            <a class="titulos" style="color: aliceblue; font-size: 15px;" href="">Hombre <span uk-navbar-parent-icon></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2 uk-nav-center" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaprunhombre">Zapatillas running</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapfithombre">Zapatillas Fitness</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaptrahombre">Zapatillas trail</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapcroshombre">Zapatillas crossfit</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaptrehombre">Zapatillas trekking</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapsnehombre">Zapatillas Sneaker</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="titulos" style="color: aliceblue; font-size: 15px;" href="">Mujer <span uk-navbar-parent-icon></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2 uk-nav-center" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaprunmujer">Zapatillas running</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapfitmujer">Zapatillas Fitness</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaptramujer">Zapatillas trail</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapcrosmujer">Zapatillas crossfit</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zaptremujer">Zapatillas trekking</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/zapsnemujer">Zapatillas Sneaker</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="titulos" style="color: aliceblue; font-size: 15px;" href="">Marcas <span uk-navbar-parent-icon></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-3 uk-nav-center" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/salomon">Salomon</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/brooks">Brooks</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/newbalance">New Balance</a></li>
                                            
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/underarmour">Under Armour</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/puma">Puma</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/adidas">Adidas</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/hoka">Hoka</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/ascics">Ascics</a></li>
                                            <li class="uk-active uk-nav-header"><a aria-current="page" routerLink="/nike">Nike</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="titulos" style="color: aliceblue; font-size: 15px;" href="">Niño <span uk-navbar-parent-icon></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2 uk-nav-center" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas running</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas Fitness</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas trail</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas crossfit</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas trekking</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Sneaker</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="titulos" style="color: aliceblue; font-size: 15px;" href="">Niña <span uk-navbar-parent-icon></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2 uk-nav-center" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas running</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas Fitness</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas trail</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas crossfit</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Zapatillas trekking</a></li>
                                            <li class="uk-active uk-nav-header"><a href="#">Sneaker</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="nav-overlay uk-navbar-right">
                    <a style="color:aliceblue ;" class="uk-search-toggle" href="" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>
                <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input" type="search" placeholder="Buscador" autofocus style="color:aliceblue ;">
                        </form>
                    </div>
                    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>

                <div class="uk-margin search2">
                    <form class="uk-search uk-search-default">
                        <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                        <input class="uk-search-input" type="search" placeholder="Search">
                    </form>
                </div>

                <nav class="uk-navbar uk-navbar-container">
                    <div class="uk-navbar-right search3">
                
                        <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
                
                    </div>
                </nav>
                
                <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
                    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
                        <button class="uk-modal-close-full" type="button" uk-close></button>
                        <form class="uk-search uk-search-large">
                            <input class="uk-search-input uk-text-center" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>
                
                <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
                    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
                        <button class="uk-modal-close-full" type="button" uk-close></button>
                        <form class="uk-search uk-search-large">
                            <input class="uk-search-input uk-text-center" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>

                <p uk-margin>
                    <a class="uk-button uk-button-default" href="#modal-group-2" uk-toggle>Iniciar Sesion</a>
                    <a class="uk-button uk-button-default" href="#modal-group-1" uk-toggle>Registrate</a>
                </p>

                <a class="uk-icon-button uk-margin-small-right usuario" uk-icon="user" href=".uk-section" uk-toggle></a>

                <div class="navbar fixed-top">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                </div>
        
            </ul>
        </div>
    </nav>
</div>

<section>
        <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href=""></a></li>
                <li class="uk-parent"><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </nav>
</section>

