<!--<p>zapfithombre works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-metcon-7-hombre-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                    <h5 class="card-title titulo"><dt>Nike Metcon 7</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-metcon8-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Nike Metcon 8</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-winflo-8-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Nike Winflo 8</dt></h5>
                    <p class="uk-text-right precio">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/under-armour-tribase-reign4-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Under Armour <br>TriBase Reign 4</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/asics-defiance-x-ficha-400x400x80xX.png" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento">-20%</p>
                <h5 class="card-title titulo"><dt>ASICS Defiance X</dt></h5>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star3" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/new-balance-minimus-tr-hombre-homme-uomo-400x400x80xX.jpg"alt=""></a>
              </div>
            </div>
            <div class="card-body">
              <p class="uk-text-right descuento2">-20%</p>
              <h5 class="card-title titulo2"><dt>New Balance <br> Minimus TR</dt></h5>
                <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                <p class="card-text">AHORA: 280 Bs</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/under-armour-speedform-amp-2-0-3-400x400x80xX.jpg" alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>Under Armour 2.0<br>SpeedForm AMP</dt></h5>
            <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star2" uk-icon="star"></span>
              <p class="uk-text-right puntaje">8.7/10</p>
              <p class="uk-text-right precio3">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-metcon-7-flyease-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>Nike Metcon <br> 7 FlyEase</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/under-armour-project-rock4-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>Under Armour<br> Project Rock 4</dt></h5>
          <p class="uk-text-right precio4">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
<div class="col">
  <div class="card">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-air-zoom-superrep-3-hombre-homme-uomo-400x400x80xX.jpg"alt=""></a>
      </div>
    </div>
    <div class="card-body">
      <p class="uk-text-right descuento2">-20%</p>
      <h5 class="card-title titulo2"><dt>Nike Air Zoom <br> SuperRep 3</dt></h5>
        <p class="uk-text-right precio4">ANTES: 350 Bs</p>
        <p class="card-text">AHORA: 280 Bs</p>
      <a href="#" class="btn btn-primary">Ver</a>
    </div>
  </div>
</div>
<div class="col">
<div class="card">
  <div class="uk-text-center">
    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-air-zoom-superrep2-ficha-caracteristicas-precios-400x400x80xX.jpg" alt=""></a>
    </div>
  </div>
  <div class="card-body">
    <p class="uk-text-right descuento2">-20%</p>
    <h5 class="card-title titulo2"><dt>Nike Air Zoom <br>SuperRep 2 </dt></h5>
    <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star2" uk-icon="star"></span>
      <p class="uk-text-right puntaje">8.7/10</p>
      <p class="uk-text-right precio3">ANTES: 350 Bs</p>
      <p class="card-text">AHORA: 280 Bs</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>
</div>
<div class="col">
<div class="card">
<div class="uk-text-center">
  <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
      <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/under-armour-tribase-reign-caracteristicas-400x400x80xX.jpg" alt=""></a>
  </div>
</div>
<div class="card-body">
    <p class="uk-text-right descuento2">-20%</p>
    <h5 class="card-title titulo2"><dt>Under Armour <br>TriBase Reign</dt></h5>
      <p class="uk-text-right precio4">ANTES: 350 Bs</p>
      <p class="card-text">AHORA: 280 Bs</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>
</div>
    </div>
</div>
