<!--<p>zaprunhombre works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/asics-gel-nimbus-23-hombre-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>ASICS Gel <br>Nimbus 23</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/adidas-duramo-sl-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Adidas Duramo <br>SL</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/brooks-ghost13-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Brooks Ghost <br> 13</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/nike-downshifter-11-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Nike <br> Downshifter 11</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/new-balance-nitrel-v4-caracteristicas-400x400x80xX.jpg"alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance<br>Nitrel v4 </dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/new-balance-nitrelv5-hombre-homme-uomo-400x400x80xX-2.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>New Balance<br>Nitrel v5</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/salomon-pulsartrailpro-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Salomon Pulsar <br>Trail Pro</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/under-armour-hovr-sonic-5-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Under Armour <br>HOVR Sonic 5</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/puma-hybrid-runner-1-400x400x80xX__49596.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Puma Hybrid<br>Runner</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/asics-gel-excite-9-hombre-homme-uomo-400x400x80xX.jpg"alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>ASICS Gel <br>Excite 9</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/brooks-glycerin-stealthfit20-hombre-homme-uomo-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
          <p class="uk-text-right descuento2">-20%</p>
          <h5 class="card-title titulo2"><dt>Brooks Glycerin<br>StealthFit 20 </dt></h5>
          <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star2" uk-icon="star"></span>
            <p class="uk-text-right puntaje">8.7/10</p>
            <p class="uk-text-right precio3">ANTES: 350 Bs</p>
            <p class="card-text">AHORA: 280 Bs</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/hombre/hoka-speed-mafate-4-hombre-homme-uomo.jpg-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>HOKA Mafate <br>Speed 4</dt></h5>
        <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star2" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio3">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
    </div>
  </div>

  <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="../../../../../assets/zapatillas/N-2.R.Naranja.jpg" alt="">
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="../../../../../assets/zapatillas/N-2.R.Naranja.jpg"  alt="">
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="../../../../../assets/zapatillas/N-2.R.Naranja.jpg"  alt="">
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="../../../../../assets/zapatillas/N-2.R.Naranja.jpg"  alt="">
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="../../../../../assets/zapatillas/N-2.R.Naranja.jpg"  alt="">
            </div>
        </li>
    </ul>
  
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  
  </div>
</div>
