<!--<p>desplazar works!</p>-->

<div class="container-xxl desplazar">
  <div uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m">
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/adidas-adizero-adios-pro-2-1-400x400x80xX.jpg" alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title titulo"><dt>HOKA Rincon 3</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="card-text">Precio: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-nimbus-24-zapatillas-400x400x80xX.jpg" alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>ASICS Gel<br>Nimbus 24</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-pegasus-39-zapatillas-chaussure-scarpe-1-400x400x80xX.jpg" width="400" height="600" alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo3"><dt>Nike Pegasus 39</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje2">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/adidas-ultrabooost-21-400x400x80xX.jpg" alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Adidas<br>Ultraboost 21</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/hoka-speedgoat-5-400x400x80xX.jpg" alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title titulo4"><dt>HOKA Speedgoat 5</dt></h5>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-cascadia-16-caracteristicas-400x400x80xX.jpg"alt="">
                  <div class="uk-position-center uk-panel"></div>
                </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo5"><dt>Brooks<br>Cascadia 16 </dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje3">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
</div>

