<!--<p>brooks works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brook-dyad-10-principal-400x400x80xX__47553.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                    <h5 class="card-title titulo"><dt>Brooks Dyad 10</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-revel-3-caracteristicas-400x400x80xX__92072.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Brooks Revel 3</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-ghost-12-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Brooks Ghost 12</dt></h5>
                    <p class="uk-text-right precio">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-glycerin19-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Brooks <br> Glycerin 19</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-hyperion-tempo-caracteristicas-400x400x80xX.jpg"alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Brooks Hyperion<br>Tempo </dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-adrenaline21-gts-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Brooks <br>Adrenaline Gts 21</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-ricochet3-caracteristicas-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Brooks<br>Ricochet 3</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-launch9-ficha-caracteristicas-precios-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Brooks <br>Launch 9</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-catamount-caracteristicas-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Brooks<br>Catamount</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-hyperion-elite2-caracteristicas-1-400x400x80xX.jpg"alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>Brooks Hyperion <br>Elite 2</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-glycerin-stealthfit20-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
          <p class="uk-text-right descuento2">-20%</p>
          <h5 class="card-title titulo2"><dt>Brooks Glycerin<br>StealthFit 20 </dt></h5>
          <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star2" uk-icon="star"></span>
            <p class="uk-text-right puntaje">8.7/10</p>
            <p class="uk-text-right precio3">ANTES: 350 Bs</p>
            <p class="card-text">AHORA: 280 Bs</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-cascadia15-caracteristicas-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>Brooks <br>Cascadia 15</dt></h5>
        <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star2" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio3">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
  </div>
</div>

<div class="container paginacion">
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a href="#"><span uk-pagination-previous></span></a></li>
      <li><a href="#">1</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a >20</a></li>
      <li><a aria-current="page" routerLink="/salomon"><span uk-pagination-next></span></a></li>
  </ul>
</div>