<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="static" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <a href="#"><img id="logo" src="../../assets/logo.png" alt=""></a>
      <ul class="uk-navbar-nav">
        <li class="uk-active">
            <a id="titulo" href="#">
                <div>
                    ¡Encuentra aqui tus Zapatos
                    <div id="titulo3" class="uk-navbar-subtitle">
                        Deportivos preferidos! 
                    </div>
                </div>
            </a>
        </li>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="buscador" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">  buscar</button>
      </form>
      <div class="uk-height-large menu">
        <div class="js-wrapper">
          <div uk-overflow-auto="selContainer: .uk-height-large; selContent: .js-wrapper">
            <ul class="uk-nav-default" uk-nav="multiple: true">
              <li class="uk-parent">
                <a style="color:black; font-size: 15px;" href="#">Hombre <span uk-nav-parent-icon></span></a>
                <ul class="uk-nav-sub">
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas running</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas Fitness</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trail</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas crossfit</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trekking</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Sneaker</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a style="color:black; font-size: 15px;" href="#">Mujer <span uk-nav-parent-icon></span></a>
                <ul class="uk-nav-sub">
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas running</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas Fitness</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trail</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas crossfit</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trekking</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Sneaker</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a style="color:black; font-size: 15px;" href="#">Marcas <span uk-nav-parent-icon></span></a>
                <ul class="uk-nav-sub">
                  <li><a style="color:black; font-size: 15px;" href="#">Salomon</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Brooks</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Hoka</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Nike</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Under Armour</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Puma</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a style="color:black; font-size: 15px;" href="#">Niño <span uk-nav-parent-icon></span></a>
                <ul class="uk-nav-sub">
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas running</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas Fitness</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trail</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas crossfit</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trekking</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Sneaker</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a style="color:black; font-size: 15px;" href="#">Niña <span uk-nav-parent-icon></span></a>
                <ul class="uk-nav-sub">
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas running</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas Fitness</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trail</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas crossfit</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Zapatillas trekking</a></li>
                  <li><a style="color:black; font-size: 15px;" href="#">Sneaker</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>