<!--<p>infozap-brooks-ghost14 works!</p>-->

<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <p class="titulo">Brooks Ghost 14</p>
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-position-relative" uk-slideshow="animation: fade">
                    <ul class="uk-slideshow-items" uk-lightbox>
                        <li>
                            <div>
                                <a href="../../../../../assets/brooks-ghost-14-hombre-400x400x80xX.jpg"><img id="z1" src="../../../../../assets/brooks-ghost-14-hombre-400x400x80xX.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="../../../../../assets/brooks-ghost-14-caracteristicas-principales-1-800x800x80.jpg"><img id="z1" src="../../../../../assets/brooks-ghost-14-caracteristicas-principales-1-800x800x80.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="../../../../../assets/brooks-ghost-14-mediasuela.jpg"><img id="z1" src="../../../../../assets/brooks-ghost-14-mediasuela.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="../../../../../assets/brooks-ghost-14-suela-1-800x800x80.jpg"><img id="z1" src="../../../../../assets/brooks-ghost-14-suela-1-800x800x80.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="../../../../../assets/brooks-ghost-14-upper-1-800x800x80.jpg"><img id="z1" src="../../../../../assets/brooks-ghost-14-upper-1-800x800x80.jpg" alt=""></a>
                            </div>
                        </li>
                    </ul>  
                    <div>
                        <ul class="uk-thumbnav estilo_div2" uk-position-small>
                            <li uk-slideshow-item="0" class="uk-active"><a href="#"><img src="../../../../../assets/infzap/brooks-ghost-14-hombre-200x200x80xX.jpg" width="180" height="147" alt=""></a></li>
                            <li uk-slideshow-item="1"><a href="#"><img src="../../../../../assets/infzap/brooks-ghost-14-caracteristicas-principales-1-200x200x80.jpg" width="180" height="147" alt=""></a></li>
                            <li uk-slideshow-item="2"><a href="#"><img src="../../../../../assets/infzap/brooks-ghost-14-mediasuela-1-200x200x80.jpg" width="180" height="147" alt=""></a></li>
                            <li uk-slideshow-item="3"><a href="#"><img src="../../../../../assets/infzap/brooks-ghost-14-suela-1-200x200x80.jpg" width="180" height="147" alt=""></a></li>
                            <li uk-slideshow-item="4"><a href="#"><img src="../../../../../assets/infzap/brooks-ghost-14-upper-1-200x200x80.jpg" width="180" height="147" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <hr class="separador">
                <p class="brooks">Precio original brooks: 350 Bs</p>
                <hr class="separador2">
                <div class="uk-text-center">
                    <a class="btn btn-primary precio">Desde: 280 Bs</a> <a class="btn btn-primary comparar" href="">comparar</a> <a class="btn btn-primary favoritos" href="">Añadir a favoritos</a>
                </div>
                <div>
                    <p class="puntaje">7.8</p> <a class="opi" href="">5 consultas </a><a class="opi" href=""> 10 opiniones</a>
                </div>
                <div>
                    <li>Genero: <input class="uk-checkbox" type="checkbox"> Hombre <input class="uk-checkbox" type="checkbox"> Mujer</li>
                </div>
                <div>
                    Tallas: <a class="btn tallas" href="">35</a> 
                            <a class="btn tallas2" href=""> 35.5</a> 
                            <a class="btn tallas" href=""> 36</a> 
                            <a class="btn tallas2" href=""> 36.5</a>
                            <a class="btn tallas" href="">37</a> 
                            <a class="btn tallas2" href=""> 37.5</a> 
                            <a class="btn tallas" href=""> 38</a> 
                            <a class="btn tallas2" href=""> 38.5</a>
                            <a class="btn tallas" href="">39</a> 
                            <a class="btn tallas2" href=""> 39.5</a> 
                            <a class="btn tallas" href=""> 40</a> 
                            <a class="btn tallas2" href=""> 40.5</a>
                            <a class="btn tallas" href="">41</a> 
                            <a class="btn tallas2" href=""> 41.5</a> 
                            <a class="btn tallas" href=""> 42</a> 
                            <a class="btn tallas2" href=""> 42.5</a>
                            <a class="btn tallas" href="">43</a> 
                            <a class="btn tallas2" href=""> 43.5</a> 
                            <a class="btn tallas" href=""> 44</a> 
                            <a class="btn tallas2" href=""> 44.5</a>
                            <a class="btn tallas" href=""> 45</a> 
                            <a class="btn tallas2" href=""> 45.5</a> 
                            <a class="btn tallas" href=""> 46</a>
                </div>
                <a class="btn btn-primary carrito">Añadir al carrito</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="br">Brooks Ghost 14, características principales</h2>
    <p class="caract">Lo nuevo de Brooks llega pisando fuerte. Los modelos más demandados de la firma estadounidense aterrizan uno tras otro, y no podían faltar las  Brooks Ghost 14 entre su catálogo running; un modelo que llega con ciertas novedades y mejoras para suceder a las Ghost 13. Analizamos las prestaciones principales de estas zapatillas de entrenamiento, ¡no te las pierdas!</p>
    <h2 class="br">Brooks Ghost 14, especificaciones técnicas</h2>
    <p class="caract">Si buscas unas zapatillas de máxima amortiguación para deportistas de pisada neutra que quieran completar sus entrenamientos diarios a ritmos medios (entre 04:30min/km y 05:30min/km) para todo tipo de distancias, las Brooks Ghost 14 pueden ser una gran opción.</p>
    <p class="caract">Más cómodas y ligeras, mejoran apartados como el ajuste o la amortiguación para ofrecer una experiencia de carrera inolvidable. En cuanto a sus especificaciones técnicas, cuentan con un peso ligero de 255 gramos.</p>
</div>
<div class="container uk-text-center">
    <iframe class="video" src="https://www.youtube.com/embed/COX1KQ2TLQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<div class="container">
    <h2 class="br">Brooks Ghost 14, una de las mejores zapatillas running para corredores neutros de pesos intermedios</h2>
    <p class="caract">Nos calzamos las Brooks Ghost 14, una de las zapatillas más famosas de la marca más famosa en esto del running dentro de los Estados Unidos. Escribo esto para empezar, porque creo que la marca de la filosofía Hayppy Run en el mercado español no está reconocida con el valor que se merece. Brooks es la marca con más cuota de mercado en el país donde más competencia existe a nivel de marcas.</p>
    <h2 class="br">¿A qué tipo de runners están enfocadas Brooks Ghost 14?</h2>
    <p class="caract">Según la respuesta teórica de Brooks está enfocada a corredores que realicen entrenamientos de más de 30/35 minutos, (para el corredor que corre menos tenemos opciones más económicas que un comercial de Brooks aconsejaría, tipo las Trace), que tiene un peso inferior a los 80 kilogramos, y tiene una pisada neutra.</p>
</div>