<!--<p>nike works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-revolution-6-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                    <h5 class="card-title titulo"><dt>Nike Revolution 6</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-zoomx-streakfly-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Nike Zoom Fly 4</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-winflo-8-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Nike Winflo 8</dt></h5>
                    <p class="uk-text-right precio">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-pegasus-trail-3-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Nike Pegasus <br> Trail 3</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-zoomfly5-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento">-20%</p>
                <h5 class="card-title titulo"><dt>Nike Zoom Fly 4</dt></h5>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star1" uk-icon="star"></span>
                  <span id="star3" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-air-zoom-next-caracteristicas-400x400x80xX.jpg"alt=""></a>
              </div>
            </div>
            <div class="card-body">
              <p class="uk-text-right descuento2">-20%</p>
              <h5 class="card-title titulo2"><dt>Nike Tempo <br> Next%</dt></h5>
                <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                <p class="card-text">AHORA: 280 Bs</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-react-miler-3_runnea-400x400x80xX.jpg" alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>Nike React <br>Miler 3 </dt></h5>
            <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star" uk-icon="star"></span>
              <span id="star2" uk-icon="star"></span>
              <p class="uk-text-right puntaje">8.7/10</p>
              <p class="uk-text-right precio3">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-wildhorse7-ficha-caracteristicas-precios-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
          <div class="card-body">
            <p class="uk-text-right descuento">-20%</p>
            <h5 class="card-title titulo"><dt>Nike Wildhorse 7</dt></h5>
              <span id="star1" uk-icon="star"></span>
              <span id="star1" uk-icon="star"></span>
              <span id="star1" uk-icon="star"></span>
              <span id="star1" uk-icon="star"></span>
              <span id="star3" uk-icon="star"></span>
              <p class="uk-text-right puntaje">8.7/10</p>
              <p class="uk-text-right precio2">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-run-swift2-caracteristicas-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento">-20%</p>
        <h5 class="card-title titulo"><dt>Nike Run Swift 2</dt></h5>
          <span id="star1" uk-icon="star"></span>
          <span id="star1" uk-icon="star"></span>
          <span id="star1" uk-icon="star"></span>
          <span id="star1" uk-icon="star"></span>
          <span id="star3" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio2">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
<div class="col">
  <div class="card">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-winflo-8-caracteristicas-400x400x80xX.jpg"alt=""></a>
      </div>
    </div>
    <div class="card-body">
      <p class="uk-text-right descuento2">-20%</p>
      <h5 class="card-title titulo2"><dt>Nike Air <br> Winflo 9</dt></h5>
        <p class="uk-text-right precio4">ANTES: 350 Bs</p>
        <p class="card-text">AHORA: 280 Bs</p>
      <a href="#" class="btn btn-primary">Ver</a>
    </div>
  </div>
</div>
<div class="col">
<div class="card">
  <div class="uk-text-center">
    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-pegasus-trail-4-zapatillas-chaussure-scarpe-1-400x400x80xX.jpg" alt=""></a>
    </div>
  </div>
  <div class="card-body">
    <p class="uk-text-right descuento2">-20%</p>
    <h5 class="card-title titulo2"><dt>Nike Pegasus <br>Trail 4 </dt></h5>
    <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star" uk-icon="star"></span>
      <span id="star2" uk-icon="star"></span>
      <p class="uk-text-right puntaje">8.7/10</p>
      <p class="uk-text-right precio3">ANTES: 350 Bs</p>
      <p class="card-text">AHORA: 280 Bs</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>
</div>
<div class="col">
<div class="card">
<div class="uk-text-center">
  <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
      <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/nike-quest-4-ficha-400x400x80xX.jpg" alt=""></a>
  </div>
</div>
  <div class="card-body">
    <p class="uk-text-right descuento">-20%</p>
    <h5 class="card-title titulo"><dt>Nike Quest 4</dt></h5>
      <span id="star1" uk-icon="star"></span>
      <span id="star1" uk-icon="star"></span>
      <span id="star1" uk-icon="star"></span>
      <span id="star1" uk-icon="star"></span>
      <span id="star3" uk-icon="star"></span>
      <p class="uk-text-right puntaje">8.7/10</p>
      <p class="uk-text-right precio2">ANTES: 350 Bs</p>
      <p class="card-text">AHORA: 280 Bs</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>
</div>
    </div>
</div>
