<!--<p>newbalance works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-propel-foto-portada-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance <br>FuelCell Propel</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/brooks-revel-3-caracteristicas-400x400x80xX__92072.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance <br> Fresh Foam Evoz</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-shando-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance <br> Shando</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-fresh-foam-evoz-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>New Balance <br> Fresh Foam Evoz</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-fuelcell-rebel2-ficha-caracteristicas-precios-bene-400x400x80xX__120574.jpg"alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance<br>Fuelcell Rebel v2 </dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-nitrelv5-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>New Balance<br>Nitrel v5 </dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-680v6-caracteristicas-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance<br> 680 v6</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-520-v6-black-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>New Balance <br>520 v6</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-new-balance-zapatillas-410v7-trail-eu-41-12-phantom-200x200x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>New Balance<br>410v7 trail</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-fuelcell-prism-caracteristicas-400x400x80xX.jpg"alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>New Balance <br>FuelCell Prism</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-fuelcell-tc-caracteristicas-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
          <p class="uk-text-right descuento2">-20%</p>
          <h5 class="card-title titulo2"><dt>New Balance<br>FuelCell Tc </dt></h5>
          <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star2" uk-icon="star"></span>
            <p class="uk-text-right puntaje">8.7/10</p>
            <p class="uk-text-right precio3">ANTES: 350 Bs</p>
            <p class="card-text">AHORA: 280 Bs</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/new-balance-fuelcell-890-v8-portada-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>New Balance <br>Fuelcell 890v8</dt></h5>
        <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star2" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio3">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
  </div>
</div>

<div class="container paginacion">
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a href="#"><span uk-pagination-previous></span></a></li>
      <li><a href="#">1</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a >20</a></li>
      <li><a aria-current="page" routerLink="/salomon"><span uk-pagination-next></span></a></li>
  </ul>
</div>