<!--<p>ascics works!</p>-->

<!--<p>brooks works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gt1000-11-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                    <h5 class="card-title titulo"><dt>ASICS GT 1000 11</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-jolt-3-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>ASICS Jolt 3</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-novablast-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>ASICS Novablast</dt></h5>
                    <p class="uk-text-right precio">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-nimbus-23-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>ASICS Gel <br> Nimbus 23</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-novablast3-hombre-homme-uomo-400x400x80xX.jpg"alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>ASICS Novablast<br>3 </dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-kayano-29-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>ASICS Gel<br>Kayano 29</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-sonoma6-caracteristicas-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>ASICS Gel<br>Sonoma 6</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-excite-9-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>ASICS Gel <br>Excite 9</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-trabuco10-zapatillas-chaussure-scarpe-400x400x80xX.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>ASICS Gel<br>Trabuco 10</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-contend-7-caracteristicas-400x400x80xX.jpg"alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>ASICS Gel <br>Contend 7</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-venture-8-400x400x80xX.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
          <p class="uk-text-right descuento2">-20%</p>
          <h5 class="card-title titulo2"><dt>ASICS Gel<br>Venture 8 </dt></h5>
          <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star2" uk-icon="star"></span>
            <p class="uk-text-right puntaje">8.7/10</p>
            <p class="uk-text-right precio3">ANTES: 350 Bs</p>
            <p class="card-text">AHORA: 280 Bs</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/asics-gel-noosa-tri-14-zapatillas-chaussure-scarpe.jpg-400x400x80xX.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>ASICS Gel <br>Noosa Tri 14</dt></h5>
        <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star2" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio3">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
  </div>
</div>

<div class="container paginacion">
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a href="#"><span uk-pagination-previous></span></a></li>
      <li><a href="#">1</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a >20</a></li>
      <li><a aria-current="page" routerLink="/salomon"><span uk-pagination-next></span></a></li>
  </ul>
</div>