<!--<p>puma works!</p>-->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-5" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 300; repeat: true">
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-comet-2-alt-ficha-inicio-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                    <h5 class="card-title titulo"><dt>Puma Comet 2 Alt</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
              
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-ultraride-caracteristicas-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Puma UltraRide</dt></h5>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star1" uk-icon="star"></span>
                    <span id="star3" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio2">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-ignite-3-ficha-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento">-20%</p>
                  <h5 class="card-title titulo"><dt>Puma Ignite 3</dt></h5>
                    <p class="uk-text-right precio">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-velocity-nitro-ficha-400x400x80xX.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Puma Velocity <br> Nitro</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-deviate-nitro-elite-caracteristicas-400x400x80xX.jpg"alt=""></a>
                </div>
              </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Puma Deviate <br>Nitro Elite </dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-calibrate-mono-ficha-400x400x80xX__119105.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Puma Calibrate <br> Mono</dt></h5>
                  <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star" uk-icon="star"></span>
                    <span id="star2" uk-icon="star"></span>
                    <p class="uk-text-right puntaje">8.7/10</p>
                    <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-fast-r-nitro-elite-400x400x80xX-2.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Puma Fast-r<br>Nitro Elite</dt></h5>
                <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star" uk-icon="star"></span>
                  <span id="star2" uk-icon="star"></span>
                  <p class="uk-text-right puntaje">8.7/10</p>
                  <p class="uk-text-right precio3">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                  <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-hybrid-rocket--400x400x80xX__48471.jpg" alt=""></a>
                </div>
              </div>
                <div class="card-body">
                  <p class="uk-text-right descuento2">-20%</p>
                  <h5 class="card-title titulo2"><dt>Puma Hybrid <br>Rocket</dt></h5>
                    <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                    <p class="card-text">AHORA: 280 Bs</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-hybrid-speed-orbiter-portada-400x400x80xX__94856.jpg" alt=""></a>
              </div>
            </div>
              <div class="card-body">
                <p class="uk-text-right descuento2">-20%</p>
                <h5 class="card-title titulo2"><dt>Puma Hybrid<br>Speed Orbiter</dt></h5>
                  <p class="uk-text-right precio4">ANTES: 350 Bs</p>
                  <p class="card-text">AHORA: 280 Bs</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-ignite-pwrcool-ficha-400x400x80xX.jpg"alt=""></a>
            </div>
          </div>
          <div class="card-body">
            <p class="uk-text-right descuento2">-20%</p>
            <h5 class="card-title titulo2"><dt>Puma Ignite <br>3 PWRcool</dt></h5>
              <p class="uk-text-right precio4">ANTES: 350 Bs</p>
              <p class="card-text">AHORA: 280 Bs</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="uk-text-center">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-hybrid-fuego-caracteristicas-400x400x80xX__92974.jpg" alt=""></a>
          </div>
        </div>
        <div class="card-body">
          <p class="uk-text-right descuento2">-20%</p>
          <h5 class="card-title titulo2"><dt>Puma Hybrid<br>Fuego </dt></h5>
          <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star" uk-icon="star"></span>
            <span id="star2" uk-icon="star"></span>
            <p class="uk-text-right puntaje">8.7/10</p>
            <p class="uk-text-right precio3">ANTES: 350 Bs</p>
            <p class="card-text">AHORA: 280 Bs</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="../../assets/zapatillas/puma-hybrid-sky-caracteristicas-400x400x80xX__92965.jpg" alt=""></a>
        </div>
      </div>
      <div class="card-body">
        <p class="uk-text-right descuento2">-20%</p>
        <h5 class="card-title titulo2"><dt>Puma Hybrid <br>Sky</dt></h5>
        <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star" uk-icon="star"></span>
          <span id="star2" uk-icon="star"></span>
          <p class="uk-text-right puntaje">8.7/10</p>
          <p class="uk-text-right precio3">ANTES: 350 Bs</p>
          <p class="card-text">AHORA: 280 Bs</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
      </div>
</div>
  </div>
</div>

<div class="container paginacion">
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a href="#"><span uk-pagination-previous></span></a></li>
      <li><a href="#">1</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li class="uk-disabled"><span>…</span></li>
      <li><a href="#">20</a></li>
      <li><a href="#"><span uk-pagination-next></span></a></li>
  </ul>
</div>